.body{
    text-align: center;
}
.container{
    max-width: 500px;
    margin: auto;
    text-align: center;

    
    
}
.pp img{
    width: 150px;
    height: auto;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}
.section{
    text-align: left;
    margin: auto;
}

.linkedin{
    color: rgb(3, 71, 134);
}
.skills ul {
    
    text-align: left; /* Align text to the left within the ul */
    padding: 0; /* Remove default padding */
}

.skills li {
    text-align: left; /* Align text to the left within the li */
}