.body{
    text-align: center;
}
.container{
    max-width: 1000px;
    margin: auto;
    text-align: center;

    
    
}


.linkedin{
    color: rgb(3, 71, 134);
}
.skills ul {
    display: inline-block; /* Make the ul inline-block */
    text-align: left; /* Align text to the left within the ul */
    padding: 0; /* Remove default padding */
}

.skills li {
    text-align: left; /* Align text to the left within the li */
}